html, body {
    background-color: #fff;
    color: #636b6f;
    font-family: 'Champagne & Limousines';
    font-weight: 100;
    height: 100vh;
    margin: 0;
}

<<<<<<< HEAD
/* ------ STYLES ET STRUCTURATION DU SITE */

    /* Cache le soulignement des liens */
=======

>>>>>>> 68ff726f39b10243273ef97a7a078ffcef0e1bca
.blinkUnderline a{
    text-decoration:none;
}

<<<<<<< HEAD
    /* Permet l'espacement vertical entre deux élements*/
.row-gutter {
    height:30px;
=======

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}
.content {
    text-align: center;
}
.title {
    font-size: 84px;
}
.links > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}
.m-b-md {
    margin-bottom: 30px;
>>>>>>> 68ff726f39b10243273ef97a7a078ffcef0e1bca
}

.shadow{
    text-shadow: 4px 5px 5px rgba(10, 10, 10, 0.8);;
}

/* ------ NAV-BAR */

.userIcon {
    margin-right: 20px;
}

.searchIcon {
    margin-left: 20px;
}

.centeredLogo {
    margin-left: 45%;
}

.bg-dark {
    height: 100px;
    box-shadow: 0px 5px 7px #000c;
}

/* ------ CAROUSEL */

    /* Fixe la taille du carousel */
.carousel-inner {
    height: 950px;
<<<<<<< HEAD
}
    /* Fixe la taille des flèches du carousel */
.carousel-control-next-icon, .carousel-control-prev-icon {
    height:80px;
    width:80px;
=======
>>>>>>> 68ff726f39b10243273ef97a7a078ffcef0e1bca
}

.carousel-caption {
    top:300px;
    padding-top:0px;
}

.carousel-caption>h1 {
    font-family: Halimun;
    font-size: 100px;
}

/* ------ CONTENEURS PRINCIPAUX (ARTICLES, CAPSULES, CATEGORIES ETC...) (CARDS) */

.card {
    box-shadow: 4px 5px 5px #878383cc;
}

.card-footer > a{
    background: url("../images/imagePull2Gris.jpg");
    color: #b21f2d;
}

h2.titreCategorieCarte {
    position: absolute;
    font-family: 'Halimun';
    color: whitesmoke;
    padding: 30px;
    background-color: rgba(55,55,55,0.2);;
    border: 1px solid whitesmoke;
    text-align: center;
    top: 40%;
    left: 25%;
}

.titreCategorieCarte:hover {
     background-color: rgba(250,255,241,0.2) ;
 }

<<<<<<< HEAD
.resized {
    max-width:100%;
    height:350px;
    background: url("../images/imagePull2Bleu.jpg");
=======

.firstSlider{
    color: rgba(10,10,10,0.8);
}

.carousel-control-next-icon, .carousel-control-prev-icon {
    height:80px;
    width:80px;
}

.carousel-caption {
    top:300px;
    padding-top:0px;
>>>>>>> 68ff726f39b10243273ef97a7a078ffcef0e1bca
}

.resized:hover{
}

div.cardCapsule {
    background: url("../images/collectionEte.jpg");
    height: 350px;
}

h1.collectionCard {
    font-family: Halimun;
    margin-bottom: 50px;
}

.banniereImage {
    background-repeat: no-repeat;
    margin-bottom: 50px;
    background-image: url("../images/imageBanniere.jpg");
    height:auto;
    width: auto;
    position: relative;
}

<<<<<<< HEAD
=======
.bg-dark {
    height: 100px;
    box-shadow: 0px 5px 7px #000c;
}

div.topFooter {
    background-color: whitesmoke;
}

div.footer {
    background: black;

}
>>>>>>> 68ff726f39b10243273ef97a7a078ffcef0e1bca

.divBanner {
    height:300px;
    width: 400px;
    background-color: rgba(250,255,241,0.9);
    position: absolute;
    left: 100px;
    bottom:180px;
    padding: 10px;
    color: #000;
}


.sousTitre {
    font-family: Halimun;
    font-size: 10px;
    margin-left: 30px;
}

/* ------ MENU GAUCHE FIXÉ ------ */
.col-1{
    float:left;
}

.fixgauche{
    z-index: 1;
    position: fixed;
    top: 120px;
<<<<<<< HEAD
    width: 200px;
=======
    /* Mise en forme */
    width: 270px;
>>>>>>> 68ff726f39b10243273ef97a7a078ffcef0e1bca
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    background-color: #383b3e;
    box-shadow: 4px 5px 5px #878383cc;
}

.nav-pills .nav-link {
    color:#000;
}

.card {
    box-shadow: 4px 5px 5px #878383cc;
}

.shadow{
    text-shadow: 4px 5px 5px rgba(10, 10, 10, 0.8);;
}

/* ------ FOOTER ------ */

.imgFooter  {
    padding: 10px 7px;
}

ul.listeFooter {
    margin-top: 30px;
    list-style: none;
    color: #fff;
}

.sousTitreFooter {
    font-family: "Champagne & Limousines";
    font-size: 17px;
    text-align: center;
}

.fixed-bot {
    position:absolute;
    bottom: 0;
}

<<<<<<< HEAD
div.topFooter {
    background-color: whitesmoke;
}

div.footer {
    background: black;

}

=======
>>>>>>> 68ff726f39b10243273ef97a7a078ffcef0e1bca
/* FONTS ET POLICES D'ÉCRITURE */
@font-face {
    font-family: Halimun;
    src: url("../fonts/Halimun.ttf");

}

